#metodNames{
  color:#BA180B;
  font-size:25px;
}
p{
  font-size:20px;
  color: black ;
}
div{
  font-size:25px;
}

.colorp{
  background-color:#FFC300 ;
}
button{
  width: 100px;
  background-color:#C73E33  ;
}
.myStill{
background-color:pink  ;
padding: 15px;;
}